* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  transition: all 0.2s ease;

}

*::-webkit-scrollbar {
  display: none;
}



@font-face {
  font-family: "Tempo";
  src: url("../fonts/GenericTechno.otf") format("OpenType");
}


@font-face {
  font-family: "Outer";
  src: url("../fonts/made_outer/MADE\ Outer\ Sans\ Alt\ Regular\ PERSONAL\ USE.otf") format("OpenType");
}


body {
  background: #000409;
  color: #fff;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Tempo";
  background-image: url(../images/science-background-fiction-interior-rendering-sci-fi-spaceship-corridors-blue-light-3d-rendering.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

}


.Big_title {
  position: absolute;
  top: 70vh;
  padding: 0.5rem;
  padding-top: 5rem;
  width: 90%;
  text-align: center;
  z-index: 4;
}


.t1 {
  padding-top: 1rem;
  padding-right: 1rem;
  padding-left: 2.5rem;
  padding-bottom: 1.5rem;
  font-size: 13px;
  z-index: 1;
  position: absolute;
  top: 10vh;
  left: 5vw;
  color: #aecef0;
  border-left: #aecef0 3px solid;
  border-bottom: #aecef0 3px dashed;
  text-shadow: 2px 5px 10px rgba(122, 231, 255, 0.788);
  background-color: rgba(1, 43, 40, 0.386);

}

.blink {
  animation: blinker 1.2s ease-in-out infinite;
}


@keyframes blinker {
  50% {
    opacity: 0;
  }
}


canvas {
  position: absolute;
  height: 100%;
  width: 73.93%;
  clip-path: polygon(28% 0, 72% 0, 100% 71%, 89% 100%, 11% 100%, 0 70%);
}

img {
  position: absolute;
  z-index: 5;
  height: 80vh;
  width: auto;


}

.grow {

  animation: grow 3.5s ease-in-out forwards;
}

#Astronaut {

  will-change: transform;
  transition: transform 100ms ease;


}


@keyframes grow {
  from {
    transform: scale(0.2);

  }

  to {
    transform: scale(1);

  }
}