* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  transition: all 0.2s ease;

}

*::-webkit-scrollbar {
  display: none;
}

body {
  background: #000409;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

canvas {
  opacity: 0.5;
  height: 60%;
  width: 90%;
}

img{
  position: absolute;
  z-index: 3;
  height: 80vh;
  width: auto;

  
}

.grow{
  
  animation: grow 3s ease-in-out forwards;
}

#Astronaut {

  will-change: transform;
  transition: transform 100ms ease;

}


@keyframes grow {
  from {
    transform: scale(0);
    
  }
  to {
    transform: scale(1);

  }
}
